@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --font-titillium: "Titillium Web", sans-serif;
  --font-pacifico: "Pacifico", cursive;
}

body {
  font-family: var(--font-titillium);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
