@import "tailwindcss";

@layer base {
}

@layer components {
}

@layer utilities {
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  min-height: 100vh;
  padding: 20px 10px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.loading {
  text-align: center;
  font-size: 14px;
  margin-top: 40px;
}
.error {
  text-align: center;
  color: #ff4d4f;
  font-size: 14px;
  margin-top: 40px;
}
